body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
}

h1 {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 2rem;
    margin: 10px 0;
}

h2 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 2rem;
    margin: 10px 0;
}

h3 {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
    font-size: 1.1rem;
    margin: 10px 0;
    padding: 20px 30px 10px;
}

p {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: 1rem;
    margin: 30px 0 0;
    padding: 0 40px;
}

.first-container {
    width: 40%;
    height: 200px;
    margin: 0 auto;
    padding: 50px 0 30px 0;
    text-align: center;
}

.second-container {
    height: 550px;
    position: relative;
}

.box1 {
    border-top: hsl(0, 78%, 62%) solid 5px;
    border-radius: 5px;
    width: 350px;
    height: 250px;
    box-shadow: 0 0 20px 0 gray;
    position: absolute;
    left: 50%;
    margin-left: -175px;  
}

.p-box {
    color: hsl(234, 12%, 34%);
    font-weight: 200;
    font-size: .9rem;
    padding: 0 30px;
    margin: 0;  
}

.pic {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.box2 {
    border-top: hsl(34, 97%, 64%) solid 5px;
    border-radius: 5px;
    width: 350px;
    height: 250px;
    box-shadow: 0 0 20px 0 gray;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 280px;
}

.box3 {
    border-top: hsl(180, 62%, 55%) solid 5px;
    border-radius: 5px;
    width: 350px;
    height: 250px;
    box-shadow: 0 0 20px 0 gray;
    position: absolute;
    right: 50%;
    margin-right: 205px;
    top: 140px;
}

.box4 {
    border-top: hsl(212, 86%, 64%) solid 5px;
    border-radius: 5px;
    width: 350px;
    height: 250px;
    box-shadow: 0 0 20px 0 gray;
    position: absolute;
    left: 50%;
    margin-left: 205px;
    top: 140px;
}
